@import 'src/shared/scss/mixin.scss';

body {
  font-family: $fontname;
}

input {
  font-family: $fontname;
  margin-bottom: $input-margin-bottom;
}

.lrock-split {
  padding: 1px;
  width: 49%;
}

.lrock-control {
  width: 95%;
}

.lrock-stacked {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.lrock-center {
  text-align: center;
}

.lrock-right {
  text-align: right;
}

.lrock-full-width {
  width: 100%;
}

input[readonly]
{
    background-color: #f5f5f5;
}

.lrock-spacing-default, .lrock-cell {
  padding: 5px;
}
