@import '../../shared/scss/mixin.scss';

.lrock-table {
  width: 100%;
}

.lrock-header {
  @include lrock-header-mixin;
  // background-color: lightgray;
  border: 1px solid #c3c3c3;
  // color: black;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  font-weight: bold;
  text-align: center;
}

.lrock-row, .lrock-row:hover {
  z-index: $row-z-index;
}

.lrock-row:nth-child(even):hover, .lrock-row:nth-child(odd):hover {
  background-color: $row-hover-bgcolor;
  color: $row-hover-fgcolor;
}

.lrock-row {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.lrock-row:nth-child(even) {
  @include lrock-row-even-mixin;
}

.lrock-row:nth-child(odd) {
  @include lrock-row-odd-mixin;
}

@mixin create_lrock_cell($width-indicator) {
  .lrock-cell-#{$width-indicator} {
    background-color: transparent;
    border: 1px solid #c3c3c3;
    padding: $padding;
    width: percentage(100 / ($width-sections / $width-indicator));
    word-break: $word-break-type;
  }
}

@include create_lrock_cell(1);
@include create_lrock_cell(2);
@include create_lrock_cell(3);
@include create_lrock_cell(4);
@include create_lrock_cell(5);
@include create_lrock_cell(6);
@include create_lrock_cell(7);
@include create_lrock_cell(8);
@include create_lrock_cell(9);
@include create_lrock_cell(10);
@include create_lrock_cell(11);
@include create_lrock_cell(12);

.grid-buffer-on-right {
  padding-right: 50px;
}

.data-outer, .data-outer:hover {
  z-index: 10;
}

.data-outer:hover {
  background-color: goldenrod;
  color: darkred;
}

.toolbar {
  background-color: lightgray;
  float: none;
  z-index: 20;
}

.data-cell {
  padding: 0px 10px 5px 10px;
}

.data-header sky-column {
  background-color: lightgray;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

sky-column {
  border-right-style: dotted;
  border-right-width: 1px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
