<main>
  <form *ngIf="showEditForm"
        [formGroup]="scholarshipForm"
        (ngSubmit)="onSubmit()">
    <div class="lrock-table">
      <div class="lrock-row">
        <div class="lrock-cell-3">
          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_scholarshipName_label" name="scholarshipName">
          </lrock-textbox>

          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_code_label" name="scholarshipCode">
          </lrock-textbox>

          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_targetAmount_label" name="targetAmount">
          </lrock-textbox>

          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_sponsor_label" name="sponsor">
          </lrock-textbox>
        </div>

        <div class="lrock-cell-2">
          <div class="lrock-inline">
            <input formControlName="scholarshipSubmitted" type="checkbox">
            <label for="scholarshipSubmitted" class="lrock-label">
              {{ 'scholarship_submitted_label.message' | translate }}
            </label>
          </div>

          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_minimumGpa_label" name="minimumGpa">
          </lrock-textbox>

          <label for="submitDate" class="lrock-label lrock-stacked">
            {{ 'scholarship_submitDate_label.message' | translate }}
          </label>
          <input formControlName="submitDate" type="date">

          <label for="deadlineDate" class="lrock-label lrock-stacked">
            {{ 'scholarship_deadlineDate_label.message' | translate }}
          </label>
          <input formControlName="deadlineDate" type="date">

          <div class="lrock-inline">
            <input formControlName="previouslyApplied" type="checkbox">
            <label for="previouslyApplied" class="lrock-label">
              {{ 'scholarship_previouslyApplied_label.message' | translate }}
            </label>
          </div>

          <div class="lrock-inline">
            <input formControlName="previouslyAwarded" type="checkbox">
            <label for="previouslyAwarded" class="lrock-label">
              {{ 'scholarship_previouslyAwarded_label.message' | translate }}
            </label>
          </div>

          <div class="lrock-inline">
            <input formControlName="essayRequired" type="checkbox">
            <label for="essayRequired" class="lrock-label">
              {{ 'scholarship_essayRequired_label.message' | translate }}
            </label>
          </div>

          <div class="lrock-inline">
            <input formControlName="essaySubmitted" type="checkbox">
            <label for="essaySubmitted" class="lrock-label">
              {{ 'scholarship_essaySubmitted_label.message' | translate }}
            </label>
          </div>

          <div class="lrock-inline">
            <input formControlName="financialsRequired" type="checkbox">
            <label for="financialsRequired" class="lrock-label">
              {{ 'scholarship_financialsRequired_label.message' | translate }}
            </label>
          </div>

          <div class="lrock-inline">
            <input formControlName="financialsSubmitted" type="checkbox">
            <label for="financialsSubmitted" class="lrock-label">
              {{ 'scholarship_financialsSubmitted_label.message' | translate }}
            </label>
          </div>

          <div class="lrock-inline">
            <input formControlName="membershipRequired" type="checkbox">
            <label for="membershipRequired" class="lrock-label">
              {{ 'scholarship_membershipRequired_label.message' | translate }}
            </label>
          </div>


        </div>

        <div class="lrock-cell-3">
          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_sponsorContactInfo_label" name="sponsorContactInfo">
          </lrock-textbox>

          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_contactPhone_label" name="contactPhone">
          </lrock-textbox>

          <label for="contactEmail" class="lrock-label lrock-stacked">
            {{ 'scholarship_contactEmail_label.message' | translate }}
          </label>
          <input class="lrock-control lrock-stacked" formControlName="contactEmail">
          <div *ngIf="isEmailInvalid" class="sky-error-label">
            <span [hidden]="!scholarshipForm.get('contactEmail').errors.skyEmail.invalid">
              Enter a valid email in the joe@abc.com format.
            </span>
          </div>

          <label for="status" class="lrock-label lrock-stacked">
            {{ 'scholarship_status_label.message' | translate }}
          </label>
          <select formControlName="status" (change)="onSelectedItemChanged($event)">
            <option *ngFor="let status of scholarshipStatusList" [ngValue]="status">{{ status }}</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
    <button type="button" (click)="onCancel($event)">Cancel</button>
  </form>
</main>
