<main>
  <form *ngIf="showScholarshipEditForm"
        [formGroup]="scholarshipForm"
        (ngSubmit)="onSubmit()">
    <button type="submit">Save Scholarship</button>
    <button type="button" (click)="onCancel($event)">Cancel</button>
    <div class="lrock-table">
      <div class="lrock-row">

        <div class="lrock-cell-3">
          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_scholarshipName_label" name="scholarshipName">
          </lrock-textbox>

          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_code_label" name="scholarshipCode">
          </lrock-textbox>

          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_targetAmount_label" name="targetAmount">
          </lrock-textbox>

          <lrock-selectbox [parentForm]="scholarshipForm" [observableList]="sponsorSelectList" labelResourceName="scholarship_sponsor_label" name="sponsorId">
          </lrock-selectbox>
        </div>

        <div class="lrock-cell-2">
          <lrock-checkbox [parentForm]="scholarshipForm" labelResourceName="scholarship_submitted_label" name="submitted">
          </lrock-checkbox>

          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_minimumGpa_label" name="minimumGpa">
          </lrock-textbox>
        </div>

        <div class="lrock-cell-3">
          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_sponsorContactInfo_label" name="contactInfo">
          </lrock-textbox>

          <lrock-textbox [parentForm]="scholarshipForm" labelResourceName="scholarship_contactPhone_label" name="contactPhone">
          </lrock-textbox>

          <label for="contactEmail" class="lrock-label lrock-stacked">
            {{ 'scholarship_contactEmail_label.message' | translate }}
          </label>
          <input class="lrock-control lrock-stacked" formControlName="contactEmail">
          <div *ngIf="isEmailInvalid" class="sky-error-label">
            <span [hidden]="!scholarshipForm.get('contactEmail').errors.skyEmail.invalid">
              Enter a valid email in the joe@abc.com format.
            </span>
          </div>

          <!--
          // Deprecated in schema 11
          <label for="status" class="lrock-label lrock-stacked">
            {{ 'scholarship_status_label.message' | translate }}
          </label>
          <select formControlName="status" (change)="onSelectedStatusChanged($event)">
            <option *ngFor="let status of scholarshipStatusList" [ngValue]="status">{{ status }}</option>
          </select>
          -->
        </div>
      </div>
    </div>
    <br/>
    <task-dashboard [gridData]="activeScholarshipTasks">
    </task-dashboard>
  </form>
</main>
