<main>
  <div *ngIf="showScholarshipEditForm">
    <scholarship-edit [scholarshipDetails]="selectedScholarship" [showScholarshipEditForm]="showScholarshipEditForm" (closeEvent)="onCloseEdit($event)"></scholarship-edit>
    <!-- <task-dashboard>
    </task-dashboard> -->
    <task-edit *ngIf="showTaskEditForm" [taskDetails]="selectedTask" [showTaskEditForm]="showTaskEditForm"
      (closeEvent)="onCloseEdit($event)"></task-edit>
    <button id="newtaskButton" *ngIf="showTaskEditForm === false" class="" (click)="onNewTask()">New Task</button>
    <task-list *ngIf="showTaskEditForm === false" [gridData]="scholarshipDetails.tasks"
      (selectedTask)="onSelectedTask($event)">
    </task-list>
  </div>
  <div *ngIf="showScholarshipEditForm === false" class="container lrock-table-plain">
    <div class="lrock-row-plain">
      <div class="lrock-cell-plain-6">
        <button id="newscholarshipButton" (click)="onNewScholarship()">New Scholarship</button>
      </div>
      <scholarship-filter class="lrock-cell-plain-6 lrock-right" [filterLabel]="filterLabel" [filterList]="scholarshipStatusFilterList" (filterChanged)="onSelectedFilterChanged($event)"></scholarship-filter>
    </div>
  </div>
  <scholarship-list *ngIf="showScholarshipEditForm === false" [scholarshipGridData]="scholarshipGridData" (selectedScholarship)="onSelectedScholarship($event)"></scholarship-list>
</main>

