<main>
  <task-edit *ngIf="showTaskEditForm" [taskDetails]="selectedTask" [showTaskEditForm]="showTaskEditForm"
    (closeTaskEditEvent)="onCloseEdit($event)"></task-edit>
  <button id="newtaskButton" *ngIf="showTaskEditForm === false" class="" (click)="onNewTask()">New Task</button>
  <task-list *ngIf="showTaskEditForm === false" [gridData]="gridData" (selectedTask)="onSelectedTask($event)"
    (templateTasksEvent)="onAddTemplateTasks($event)" (invalidateTasksEvent)="onInvalidateTasks($event)"></task-list>
</main>
