<main>
  <form *ngIf="showTaskEditForm" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="lrock-table">
      <div class="lrock-row">
        <div class="lrock-cell-3">

          <lrock-textarea [parentForm]="taskForm" labelResourceName="task_summary_label" name="summary" rows="5">
          </lrock-textarea>

          <lrock-textbox [parentForm]="taskForm" labelResourceName="task_assignedTo_label" name="assignedTo">
          </lrock-textbox>

          <lrock-checkbox [parentForm]="taskForm" labelResourceName="task_done_label" name="done">
          </lrock-checkbox>

        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
    <button type="button" (click)="onCancel($event)">Cancel</button>
  </form>
</main>
