<main>
  <form *ngIf="showTaskEditForm" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="lrock-table">
      <div class="lrock-row">
        <div class="lrock-cell-3">

          <lrock-textarea [parentForm]="taskForm" labelResourceName="task_summary_label" name="summary" rows="5">
          </lrock-textarea>

          <lrock-textarea [parentForm]="taskForm" labelResourceName="task_notes_label" name="notes" rows="5">
          </lrock-textarea>

          <div class="lrock-row-plain">
            <div class="lrock-cell-2">
              <br/>
              <lrock-date-select [parentForm]="taskForm" labelResourceName="task_deadlineDate_label" name="deadlineDate">
              </lrock-date-select>
            </div>

            <div class="lrock-cell-4">
              <lrock-textbox [parentForm]="taskForm" labelResourceName="task_assignedTo_label" name="assignedTo">
              </lrock-textbox>
            </div>

            <div class="lrock-cell-2">
              <lrock-checkbox [parentForm]="taskForm" labelResourceName="task_done_label" name="done">
              </lrock-checkbox>
              <lrock-checkbox [parentForm]="taskForm" labelResourceName="task_invalid_label" name="invalid">
              </lrock-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit">Submit</button>
    <button type="button" (click)="onCancel($event)">Cancel</button>
  </form>
</main>
