<main>
  <div class="lrock-table">
    <div class="lrock-header">
      <div class="lrock-cell-4">{{ 'scholarship_scholarshipName_label.message' | translate }}</div>
      <!-- <div class="lrock-cell-1">{{ 'scholarship_code_short_label.message' | translate }}</div> -->
      <div class="lrock-cell-2">{{ 'scholarship_targetAmount_label.message' | translate }}</div>
      <div class="lrock-cell-5">{{ 'tasks_label.message' | translate }}</div>
    </div>
    <div *ngFor="let entry of scholarshipGridData | async" id="{{entry.id}}" class="lrock-row lrock-selectable" (click)="editRecord(entry.id)">
      <div class="lrock-cell-4">
        <div class='ct-scholarship-name'>{{ entry.scholarshipName }}</div>
        <div *ngIf="entry.openTasks?.length > 0 && isValidDeadlineDate(entry)" class="lrock-indent {{deadlineDateAlertLevelClass(entry)}}">
          (Due: <div class="ct-deadline-date">{{ entry.deadlineDate }}</div>)
        </div>
        <div *ngIf="entry.webpage?.length > 0" class="lrock-stacked">
          <div class="lrock-task-label">
            {{ 'scholarship_webpage_label.message' | translate }}
          </div>
          <a (click)="onUrlClicked(entry)" href="{{entry.webpage}}" class="lrock-url" target="_blank">{{entry.webpage}}</a>
        </div>
      </div>
      <div class="lrock-cell-2 lrock-right">
        <lrock-key-value keyResourceName='scholarship_code_short_label' class='ct-code' value="{{entry.code}}"></lrock-key-value>
        <lrock-key-value keyResourceName='scholarship_targetAmount_label' class='ct-target-amount' value="{{entry.targetAmount | currency}}"></lrock-key-value>
      </div>
      <div class="lrock-cell-5">
        {{ 'tasks_open_label.message' | translate }}: <div class='ct-open-tasks'>{{ entry.openTasks?.length || 0 }}</div>
        - {{ 'tasks_total_label.message' | translate }}: <div class='ct-total-tasks'>{{ entry.tasks?.length || 0 }}</div>
        <div *ngFor="let taskEntry of entry.openTasks" class="lrock-task-entry-border">
          <div class="lrock-task-entry">
            {{ taskEntry?.summary }}
            <div class="ct-priority">{{ taskEntry?.priority }}</div>
            <span *ngIf="taskEntry?.deadlineDate !== undefined">
              <div class="{{deadlineDateAlertLevelClass(taskEntry)}}">
                <div class="lrock-indent">
                  (Due: {{ taskEntry?.deadlineDate }})
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
