<main>
  <div class="lrock-table">
    <div class="lrock-header">
      <div class="lrock-cell-5">{{ 'scholarship_scholarshipName_label.message' | translate }}</div>
      <div class="lrock-cell-2">{{ 'scholarship_code_short_label.message' | translate }}</div>
      <div class="lrock-cell-2">{{ 'scholarship_targetAmount_label.message' | translate }}</div>
      <div class="lrock-cell-2">{{ 'tasks_label.message' | translate }}</div>
    </div>
    <div *ngFor="let entry of scholarshipGridData | async" class="lrock-row lrock-selectable" (click)="editRecord(entry.id)">
      <div class="lrock-cell-5">{{ entry.scholarshipName }}</div>
      <div class="lrock-cell-2">{{ entry.code }}</div>
      <div class="lrock-cell-2 lrock-right">{{ entry.targetAmount | currency }}</div>
      <div class="lrock-cell-2">
        {{ 'tasks_open_label.message' | translate }}: {{ entry.openTasks?.length || 0 }}
        - {{ 'tasks_total_label.message' | translate }}: {{ entry.tasks?.length || 0 }}
      </div>
    </div>
  </div>
</main>
